<div style="background-color: #241332;" *ngIf="rulesPage">
<div id="example7" style="font-family: ir,Tahoma,sans-serif !important;">
  <h1 style="font-family: ir,Tahoma,sans-serif !important;">مقررات</h1>
  <h4 style="font-family: ir,Tahoma,sans-serif !important;">لطفا قوانین و مقررات ما را بخوانید</h4>
</div>
<div style="width: 100%" align="right">
<input style="padding-right: 2vw;" type="image" id="image" width="15%" height="10%" src="../../assets/icon@3x.png"/>
<h2 style="font-family: ir,Tahoma,sans-serif !important;" align="left">چه کسانی مجاز به استفاده از سرویس ما هستند</h2>
<h3 style="font-family: ir,Tahoma,sans-serif !important;" align="right">تمامی قوانین مطلبق با قوانین جمهوری اسلامی ایران میباشد ، هرگونه تخطیاز قوانین گفته شده جرم محسوب شده و پیگرد قانونی دارد</h3>
<h3 style="font-family: ir,Tahoma,sans-serif !important;" align="right">موضوع ماده ی 21 قانون جرایم رایانه ای</h3>
<h3 style="font-family: ir,Tahoma,sans-serif !important;" align="right">الف) محتوا علیه عفت و اخلاق عمومی</h3>
<h3 style="font-family: ir,Tahoma,sans-serif !important;" align="rigth">تحریك ، تشویق ، ترغیب ، تهدید یا دعوت به فساد و فحشاء و ارتکاب جرایم منافی عفت یا انحرافات جنسی. ( بند ب ماده ۱۵ قانون ج.ر و ماده ۶۳۹  ق.م.ا )</h3>
<h3 style="font-family: ir,Tahoma,sans-serif !important;" align="right">۳. انتشار ، توزیع و معامله محتوای خلاف عفت عمومی. ( مبتذل و مستهجن )  ( بند ۲ ماده ۶ ق.م و ماده ۱۴ قانون ج.ر )
    ۴. تحریك ، تشویق ، ترغیب ، تهدید یا تطمیع افراد به دستیابی به محتویات مستهجن و مبتذل. (  ماده ۱۵ قانون جرایم رایانه ای )
    ۵. استفاده ابزاری از افراد ( اعم از زن و مرد ) در تصاویر و محتوا ، تحقیر و توهین به جنس زن ، تبلیغ تشریفات و تجملات نامشروع و غیرقانونی. ( بند ۱۰ ماده۶ ق.م )
</h3>
  <h3 style="font-family: ir,Tahoma,sans-serif !important;" align="right">ب ) محتوا علیه مقدسات اسلامی
    ۱. محتوای الحادی و مخالف موازین اسلامی ( بند۱ماده۶ ق.م )
    ۲. اهانت به دین مبین اسلام و مقدسات آن ( بند ۷ ماده ۶ ق.م و ماده ۵۱۳ ق.م.ا )
    ۳. اهانت به هر یک از انبیاء عظام یا ائمه طاهرین ( ع ) یا حضرت صدیقه طاهره ( س ) (  ماده ۵۱۳  ق.م.ا )
    ۴. تبلیغ به نفع حزب گروه یا فرقه منحرف و مخالف اسلام ( بند ۹ ماده ۶ ق.م )
    ۵. نقل مطالب از نشریات و رسانه ها و احزاب و گروه های داخلی و خارجی منحرف و مخالف اسلام به نحوی كه تبلیغ از آنها باشد. ( بند ۹ ماده ۶ ق.م )
    ۶. اهانت به امام خمینی ( ره ) و تحریف آثار ایشان ( ماده ۵۱۴  ق.م.ا )
    ۷. اهانت به مقام معظم رهبری ( امام خامنه ای ) و سایر مراجع مسلم تقلید ( بند ۷ ماده ۶ ق.م )

    ج ) محتوا علیه امنیت و آسایش عمومی
    ۱. تشكیل جمعیت ، دسته ، گروه در فضای مجازی ( سایبر ) با هدف برهم زدن امنیت كشور. ( ماده ۴۹۸  ق.م.ا )
    ۲. هر گونه تهدید به بمب گذاری. ( ماده ۵۱۱  ق.م.ا  )
    ۳. محتوایی كه به اساس جمهوری اسلامی ایران لطمه وارد كند. ( بند ۱ ماده ۶ ق.م  )
    ۴. انتشار محتوا علیه اصول قانون اساسی. ( بند ۱۲ ماده ۶ ق.م )
    ۵. تبلیغ علیه نظام جمهوری اسلامی ایران. ( ماده ۵۰۰  ق.م.ا  )
    ۶. اخلال در وحدت ملی و ایجاد اختلاف مابین اقشار جامعه به ویژه از طریق طرح مسائل نژادی و قومی. ( بند ۴ ماده ۶ ق.م )
    ۷. تحریك یا اغوای مردم به جنگ و كشتار یكدیگر. ( ماده ۵۱۲  ق.م.ا  )
    ۸. تحریك نیروهای رزمنده یا اشخاصی كه به نحوی از انحا در خدمت نیروهای مسلح هستند به عصیان ، فرار، تسلم یا عدم اجرای وظایف نظامی. ( ماده ۵۰۴  ق.م.ا  )
    ۹. تحریص و تشویق افراد و گروه ها به ارتكاب اعمالی علیه امنیت ، حیثیت و منافع جمهوری اسلامی ایران در داخل یا خارج از كشور. ( بند ۵ ماده ۶ ق.م )
    ۱۰. تبلیع به نفع گروه ها و سازمانهای مخالف نظام جمهوری اسلامی ایران ( ماده ۵۰۰ ق م.ا )
    ۱۱. فاش نمودن و انتشار غیرمجاز اسناد و دستورها و مسایل محرمانه و سری دولتی و عمومی. ( بند ۶ ماده ۶ ق.م و مواد ۲و۳ قانون مجازات انتشار و افشای اسناد محرمانه و سری دولتی و ماده ۳ قانون ج.ر )
    ۱۲. فاش نمودن و انتشار غیرمجاز اسرار نیروهای مسلح. ( بند ۶ ماده ۶ ق.م )
    ۱۳. فاش نمودن و انتشار غیرمجاز نقشه و استحكامات نظامی. ( بند ۶ ماده ۶ ق.م )
    ۱۴. انتشار غیرمجاز مذاكرات غیرعلنی مجلس شورای اسلامی. ( بند ۶ ماده ۶ ق.م )
    ۱۵. انتشار بدون مجوز مذاكرات محاكم غیرعلنی دادگستری و تحقیقات مراجع قضایی. ( بند ۶ ماده ۶ ق.م )
    ۱۶. انتشار محتوای که از سوی شورای عالی امنیت ملی منع شده باشد.

    د ) محتوا علیه مقامات و نهادهای دولتی و عمومی
    ۱. اهانت و هجو نسبت به مقامات ، نهادها و سازمان های حکومتی و عمومی. ( بند ۸ ماده ۶ ق.م و مواد ۶۰۹ و ۷۰۰  ق.م.ا )
    ۲. افترا به مقامات ، نهادها و سازمان های حکومتی و عمومی. ( بند ۸ ماده ۶ ق.م و ۶۹۷  ق.م.ا )
    ۳. نشراكاذیب و تشویش اذهان عمومی علیه مقامات ، نهادها و سازمانهای حکومتی. ( بند ۱۱ ماده۶ ق.م و ۶۹۸  ق.م.ا )

    ه ) محتوای که برای ارتکاب جرایم رایانه ای به کار می رود ( محتوا مرتبط با جرایم رایانه ای )
    ۱.انتشار یا توزیع و در دسترس قرار دادن یا معامله داده ها یا نرم افزارهایی كه صرفاً برای ارتكاب جرایم رایانه ای به كار می رود. ( ماده ۲۵ قانون ج.ر )
    ۲. فروش انتشار یا در دسترس قرار دادن غیرمجاز گذرواژه ها و داده هایی كه امكان دسترسی غیرمجاز به داده ها یا سامانه های رایانه ای یا مخابراتی دولتی یا عمومی را فراهم می كند. ( ماده ۲۵ قانون ج.ر )
    ۳. انتشار یا در دسترس قرار دادن محتویات آموزش دسترسی غیرمجاز ، شنود غیرمجاز ، جاسوسی رایانه ای ، تحریف و اخلال در داده ها یا سیستم های رایانه ای و مخابراتی. ( ماده ۲۵ قانون ج.ر )
    ۴. آموزش و تسهیل سایر جرایم رایانه ای. ( ماده ۲۱ قانون ج.ر )
    ۵. انتشار فیلترشكن ها و آموزش روشهای عبور از سامانه های فیلترینگ. ( بند ج ماده ۲۵ قانون ج.ر )
    ۶. انجام هرگونه فعالیت تجاری و اقتصادی رایانه ای مجرمانه مانند شركت های هرمی. ( قانون اخلال در نظام اقتصادی کشور و سایر قوانین )

    ۲. ز ) محتوا مجرمانه مربوط به امور سمعی و بصری و مالکیت معنوی
    ۱. انتشار و سرویس دهی بازی های رایانه ای دارای محتوای مجرمانه. ( مواد مختلف  ق.م.ا و قانون ج.ر )
    ۲. معرفی آثار سمعی و بصری غیرمجاز به جای آثار مجاز. ( ماده ۱ قانون نحوه مجازات اشخاصی که در امور سمعی و بصری فعالیت غیرمجاز دارند )
    ۳. عرضه تجاری آثار سمعی و بصری بدون مجوز وزارت فرهنگ و ارشاد اسلامی ( ماده ۲ قانون نحوه مجازات اشخاصی که در امور سمعی و بصری فعالیت غیر مجاز دارند )
    ۴. تشویق و ترغیب به نقض حقوق مالکیت معنوی ( ماده ۱ قانون حمایت از حقوق پدید آورندگان نرم افزار های رایانه ای و ماده ۷۴ قانون تجارت الکترونیکی )

    و ) محتوای که تحریک ، ترغیب ، یا دعوت به ارتکاب جرم می کند ( محتوای مرتبط با سایر جرایم )
    ۱. انتشار محتوای حاوی تحریک ، ترغیب ، یا دعوت به اعمال خشونت آمیز و خودکشی. ( ماده ۱۵ قانون ج.ر )
    ۲. تبلیغ و ترویج مصرف مواد مخدر ، مواد روان گردان و سیگار. ( ماده ۳ قانون جامع كنترل و مبارزه ملی با دخانیات ۱۳۸۵ )
    ۳. باز انتشار و ارتباط ( لینک ) به محتوای مجرمانه تارنماها و نشانی های اینترنتی مسدود شده ، نشریات توقیف شده و رسانه های وابسته به گروه ها و جریانات منحرف و غیر قانونی.
    ۴. تشویق تحریک و تسهیل ارتكاب جرائمی كه دارای جنبه عمومی هستند از قبیل اخلال در نظم ، تخریب اموال عمومی ، ارتشاء ، اختلاس ،كلاهبرداری ، قاچاق مواد مخدر، قاچاق مشروبات الكلی و غیره. ( ماده ۴۳  ق.م.ا )
    ۵. تبلیغ و ترویج اسراف و تبذیر. ( بند ۳ ماده ۶ ق.م )</h3><br/>
<input style="padding-right: 2vw;" type="image" id="image" width="12%" height="6%" src="../../assets/shield@3x.png"/>
<h4>حریم خصوصی</h4>
<h3 align="right" style="font-family: ir,Tahoma,sans-serif !important;">رویال آدرس موظف است حریم خصوصی افراد را تضمین کند و از اطلاعات آن ها هیچ گونه سواستفاده ای نکند</h3>
<br/>
<br/>
<br/>
</div>
<a (click)="clicked_rule_submit()" >
  <button class="open-button" align="center" style="font-family: ir,Tahoma,sans-serif !important;">موافقم و تایید میکنم</button>
</a>
</div>
<div style="background-color: #241332;height: 100%;" *ngIf="!rulesPage">
  <div id="example7">
    <h1>مقررات</h1>
    <h4>لطفا قوانین و مقررات ما را بخوانید</h4>
  </div>
  <div style="width: 100%" align="right">
    <input style="padding-right: 2vw;" type="image" id="image" width="15%" height="10%" src="../../assets/icon@3x.png"/>
    <h2 align="left" style="font-size: 25px;font-family: ir, Tahoma, sans-serif !important;margin-bottom: 20px;">قوانین بازی</h2>
    <p align="right" style="font-size: 18px;font-family: ir, Tahoma, sans-serif !important;color: white;"><img src="../../assets/check-icon.png" style="width: 35px;height: 35px; padding: 5px;" />هر بازی زمان مشخصی دارد(زیر ۵ دقیقه)</p>
    <p align="right" style="font-size: 18px;font-family: ir, Tahoma, sans-serif !important;color: white;"><img src="../../assets/check-icon.png" style="width: 35px;height: 35px; padding: 5px;" />بعد از اتمام زمان مشخص، بازی تمام میشود.</p>
    <p align="right" style="font-size: 18px;font-family: ir, Tahoma, sans-serif !important;color: white;"><img src="../../assets/check-icon.png" style="width: 35px;height: 35px; padding: 5px;" />کاربران متخلف جریمه میشوند.</p>

  <a (click)="clicked()">
    <button class="open-button" align="center">موافقم و تایید میکنم</button>
  </a>
</div>

