<div class="mybody">
  <div class="opacity" id="opacity">
    <div id="example7" style="font-family: ir,Tahoma,sans-serif !important;">
      <h2 align="center" style="font-family: ir,Tahoma,sans-serif !important; color: #dad8d9; font-size:larger;">رقیبت رو انتخاب کن</h2>
    </div>

    <div class="row" style="margin-right:1vh">
      <div id="example1" class="col-5" style="margin-top: 2vh;opacity: 0.9;"
           [ngStyle]="{'background-color': fitem.sex==1 ? '#D4855A' : '#6C4E97'}"
           (click)="requestToJoin(i)" *ngFor="let fitem of usersData;index as i;">
        <img *ngIf="fitem.sex ==1 " src="../../assets/female-avatar.png" alt="Avatar" width="60vw" style="top:0;">
        <img *ngIf="fitem.sex ==0 " src="../../assets/male-avatar.png" alt="Avatar" width="60vw" style="top:0;">
        <h5 style="font-size: small; font-family: ir,Tahoma,sans-serif !important;">{{fitem.username}}</h5>
        <h4 style="font-size: smaller;font-family: ir,Tahoma,sans-serif !important;">{{fitem.last_seen}} ثانیه پیش </h4>
      </div>
    </div>
  </div>
  <div class="form-popup" id="myForm">
	<span class="popuptext" id="myPopup">
  <form class="form-container" style="text-align: center;">
	<h3 style="text-align: center;">درخواست بازی</h3>
	<img src="../../assets/male-avatar.png" *ngIf="!competitorSex" alt="Avatar" style="width:30%; text-align: center;">
  <img src="../../assets/female-avatar.png" *ngIf="competitorSex" alt="Avatar" style="width:30%; text-align: center;">
    <label align="center">{{username2}}  می خواهد با شما بازی کند ، آیا قبول می کنید؟</label>
    <div class="inlinecontainer" style="margin: auto;">
	<input style="padding-right: 2vw;" type="image" id="image" width="15%" height="15%" (click)="closeForm()"
         src="../../assets/ashkanj3@3x.png">
	<input style="padding-right: 2vw;" type="image" id="image" width="15%" height="15%" (click)="acceptCompetition()"
         src="../../assets/ashkanj2@3x.png">
      </div>
  </form>
</span>
  </div>
  <div class="form-popup-v" id="myForm-v">
	<span class="popuptext-v" id="myPopup-v">
  <form class="form-container-v">
	<input type="image" id="image" width="10%" height="10%" (click)="closeForm_v()" src="../../assets/ashkanj3@3x.png"
         align="left">
    <label align="center">شما ثانیه هایی پیش درخواست بازی داده بودید و تا 10 ثانیه ی دیگر می توانید مجددا در خواست بازی دهید
	</label>
  </form>
</span>
  </div>
  <div class="form-popup-v" id="myForm-v2">
	<span class="popuptext-v" id="myPopup-v2">
  <form class="form-container-v">
	<input type="image" id="image" width="10%" height="10%" (click)="closeForm_v2()" src="../../assets/ashkanj3@3x.png"
         align="left">
    <label align="center">شخص مورد نظر شما در حال بازی است .
	</label>
  </form>
</span>
  </div>
  <div class="form-popup-v" id="myForm-v4">
	<span class="popuptext-v" id="myPopup-v4">
  <form class="form-container-v">
	<input type="image" id="image" width="10%" height="10%" (click)="closeForm_v4()" src="../../assets/ashkanj3@3x.png"
         align="left">
    <label align="center"> درخواست ارسال شد
	</label>
  </form>
</span>
  </div>
  <div class="loading">Loading&#8230;</div>
</div>

